.banner{
	background-image: url(../../images/banniere.jpg);
	color:black;
	padding: 0px;
	margin-bottom: 30px;
	background-size: cover;
	height: 100vh;
}
.banner h1{
	font-size:50px;
	padding-top:30px;

}
.banner h2{
	font-size:30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom:40px;
}